body
{
	background:#A5E0D7;
}

/*navbar*/
.navbar
{
	min-height: 33px !important;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-nav > li > a, .navbar-brand
{
	padding-top: 6px !important;
	padding-bottom: 0 !important;
	height: 33px;
	color: #ffffff !important;
}

.navbar {
  background-color: #1067dd;
}
.navbar .navbar-brand {
  color: #e3eff2;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #4cb233;
}
.navbar .navbar-text {
  color: #e3eff2;
}
.navbar .navbar-text a {
  color: #4cb233;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #4cb233; 
}
.navbar .navbar-nav .nav-link {
  color: #e3eff2;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #4cb233;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #4cb233;
  background-color: #1067dd;
}
.navbar .navbar-toggle {
  border-color: #1067dd;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #1067dd;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #e3eff2;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #e3eff2;
}
.navbar .navbar-link {
  color: #e3eff2;
}
.navbar .navbar-link:hover {
  color: #4cb233;
}

/* Header*/
.main-color-bg
{
	background-color: #3100ff;
	border-color: #c0392b;
	color: #ffffff;
}

#header
{
	background:#060606;
	color: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 15px; 
}

#header .create
{
  padding-top: 20px;
}

.breadcrumb
{
  background:#cccccc;
  color: #333333;
}

.breadcrumb a
{
  color: #333333;
}


@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e3eff2;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4cb233;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4cb233;
    background-color: #1067dd;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e3eff2;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4cb233;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4cb233;
    background-color: #1067dd;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e3eff2;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4cb233;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4cb233;
    background-color: #1067dd;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #e3eff2;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #4cb233;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #4cb233;
    background-color: #1067dd;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #e3eff2;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #4cb233;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #4cb233;
  background-color: #1067dd;
}
